nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  position: sticky;
  top: 0;
}
nav  a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    border: none;
    background: rgba(167, 139, 250, 1);
    border-radius: 0.375rem;
    cursor: pointer;
  }
  
  .lable {
    line-height: 22px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: rgb(182 169 220);
  }
  
  .button:hover .svg-icon {
    animation: flickering 2s linear infinite;
  }
  
  @keyframes flickering {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    52% {
      opacity: 1;
    }
  
    54% {
      opacity: 0;
    }
  
    56% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    92% {
      opacity: 0;
    }
  
    94% {
      opacity: 1;
    }
  
    96% {
      opacity: 0;
    }
  
    98% {
      opacity: 1;
    }
  
    99% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }